.scroll {
    position: fixed;
    z-index: 10;
    top: 91%;
    left: 93%;
    svg {
        width: 41px;
        background: #369f81;
        color: white;
        border-radius: 12px;
        outline: none;
    }
    @include respond(tab) {
        left: 88%;
    }
    @include respond(ss-phone) {
        left: 85%;
    }
}

.home {
    max-width: 100%;
    position: relative;
    &__menu {
        width: 100%;
        background: $themeMenu;
        height: $heightMenu;
        @include respond(tab) {
            height: $heightMenuTab;
        }
        @include respond(phone) {
            height: $heightMenu;
        }
        .menu__links {
            height: 100%;
            &-wrapper {
                list-style: none;
                float: $l;
                margin: 10px;
                @include respond(phone) {
                    display: none;
                }
            }
            &-wrappers {
                list-style: none;
                float: $r;
                margin: 5px;
                display: none;
                @include respond(phone) {
                    display: block;
                    margin-right: 20px;
                }
            }
            &-link {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                svg {
                    width: 20px;
                }
            }
        }
    }
    .background {
        width: 100%;
        height: 550px;
        &__img {
            background-image: url("./../images/back.jpg");
            min-height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            background-position: center;
            background-attachment: fixed;
        }
        &__title {
            position: absolute;
            font-size: 40px;
            color: white;
            top: 25%;
            left: 5%;
            font-weight: bold;
        }
        &__title2 {
            position: absolute;
            color: white;
            font-size: 40px;
            top: 35%;
            left: 10%;
            font-weight: bold;
        }
    }
    &__introduce {
        width: 100%;
        min-height: 176px;
        @include respond(des) {
            min-height: 372px;
        }
        @include respond(tab) {
            min-height: 372px;
        }
        @include respond(phone) {
            min-height: 762px;
        }
        position: relative;
        &-potentials {
            position: absolute;
            width: 80%;
            top: -60px;
            left: 9.5%;
            @include respond(des) {
                left: 10.5%;
            }
            @include respond(phone) {
                left: 13%;
                width: 70%;
            }
            &-block {
                justify-content: $ct;
                align-items: $ct;
                text-align: $ct;
                float: $l;
                height: 187px;
                width: 24%;
                border: 1px solid #decdcd;
                background: white;
                margin-left: 7px;
                @include respond(des) {
                    width: 48%;
                    margin-left: 6px;
                    margin-top: 1%;
                }
                @include respond(tab) {
                    width: 47%;
                    margin-left: 10px;
                }
                @include respond(phone) {
                    width: 100%;
                    margin-left: 5px;
                    margin-top: 2%;
                }
                svg {
                    width: 34px;
                    margin-top: 10px;
                }
                h3 {
                    margin-top: 0px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    &__opportunity {
        width: 100%;
        height: 573px;
        background-color: $themeHeader;
        @include respond(tab) {
            height: 1200px;
        }
        &-opportunitys {
            height: 100%;
            padding-left: $pd-left;
            padding-right: $pd-right;
            @include respond(phone) {
                padding-left: 8px;
                padding-right: 8px;
            }
            &-title {
                width: 100%;
                height: 4%;
                &-color {
                    float: left;
                    width: 1%;
                    height: 100%;
                    background: $themeMenu;
                    max-width: 4px;
                    @include respond(phone) {
                        max-height: 65%;
                    }
                    @include respond(tab) {
                        max-height: 70%;
                    }
                }
                &-text {
                    float: left;
                    width: 95%;
                    margin-left: 5px;
                    color: $themeMenu;
                    font-weight: bold;
                    text-transform: uppercase;
                    span {
                        font-size: 20px;
                        @include respond(des) {
                            font-size: 20px;
                        }
                    }
                }
            }
            &-industrialArea {
                width: 100%;
                height: 96%;
                &-Area {
                    width: 70%;
                    height: 95%;
                    float: left;
                    margin-top: 20px;
                    @include respond(tab) {
                        height: 101%;
                    }
                    @include respond(phone) {
                        width: 100%;
                    }
                    .industrialArea-Block1 {
                        background-image: url("./../images/kkt.png");
                        @include respond(tab) {
                            width: 100%;
                            height: 24%;
                        }
                        @include block;
                        p {
                            @include p;
                            @include respond(des) {}
                        }
                    }
                    .industrialArea-Block1:hover {
                        @include hover;
                    }
                    .industrialArea-Block2 {
                        @include block;
                        background-image: url("./../images/kcn.png");
                        @include respond(tab) {
                            width: 100%;
                            height: 24%;
                        }
                        p {
                            @include p;
                            @include respond(des) {}
                        }
                    }
                    .industrialArea-Block2:hover {
                        @include hover;
                    }
                    .industrialArea-Block3 {
                        @include block;
                        background-image: url("./../images/ccn.png");
                        @include respond(tab) {
                            width: 100%;
                            height: 24%;
                        }
                        p {
                            @include p;
                            @include respond(des) {}
                        }
                    }
                    .industrialArea-Block3:hover {
                        @include hover;
                    }
                    .industrialArea-Block4 {
                        @include block;
                        background-image: url("./../images/mgdt.png");
                        @include respond(tab) {
                            width: 100%;
                            height: 24%;
                        }
                        p {
                            @include p;
                            @include respond(des) {}
                        }
                    }
                    .industrialArea-Block4:hover {
                        @include hover;
                    }
                }
                &-Banner {
                    width: 30%;
                    height: 92%;
                    float: left;
                    margin-top: 21px;
                    background-image: url("./../images/banner.png");
                    @include respond(tab) {
                        height: 40%;
                        width: 28%;
                        margin-left: 2px;
                    }
                    @include respond(phone) {
                        display: none;
                    }
                }
            }
        }
    }
    &__news {
        width: 100%;
        min-height: 573px;
        margin-top: 20px;
        @include respond(des) {
            min-height: 602px;
        }
        @include respond(tab) {
            min-height: 870px;
        }
        @include respond(phone) {
            height: 1300px;
        }
        @include respond(ss-phone) {
            height: 1515px;
        }
        .pd-section {
            @include pd-section;
            @include respond(phone) {
                padding-right: 19px;
                padding-left: 20px;
            }
            @include respond(small-phone) {
                padding-right: 2px;
                padding-left: 2px;
            }
        }
        &-new {
            height: 91%;
            width: 70%;
            float: left;
            margin-top: 10px;
            @include respond(tab) {
                height: 91%;
            }
            @include respond(phone) {
                width: 100%;
                height: 76%;
            }
            @include respond(ss-phone) {
                height: 70%;
            }
            &-title {
                width: 100%;
                height: 9%;
                margin-bottom: 17px;
                @include respond(tab) {
                    margin-bottom: 0px;
                    height: 7%;
                }
                @include respond(phone) {
                    height: 5%;
                }
                span {
                    @include span;
                }
                a {
                    @include a;
                }
            }
            &-main {
                width: 50%;
                float: left;
                height: 91%;
                @include respond(tab) {
                    width: 100%;
                    height: 55%;
                }
                @include respond(small-phone) {
                    height: 55%;
                }
                @include respond(ss-phone) {
                    height: 50%;
                }
                img {
                    width: 93%;
                    height: 65%;
                    @include respond(des) {
                        height: 40%;
                    }
                    @include respond(phone) {
                        width: 100%;
                        height: 60%;
                    }
                    @include respond(ss-phone) {
                        height: 40%;
                    }
                }
                img:hover {
                    @include hover;
                }
                h1 {
                    width: 93%;
                }
                p {
                    width: 93%;
                }
            }
            &-sup {
                width: 50%;
                float: left;
                height: 91%;
                @include respond(tab) {
                    width: 100%;
                    height: 45%;
                }
                @include respond(small-phone) {
                    height: 45%;
                }
                &-sups {
                    height: 28%;
                    margin-top: 8px;
                    @include respond(tab) {
                        min-height: 89px;
                    }
                    &-img {
                        width: 30%;
                        float: left;
                        height: 100%;
                        @include respond(small-phone) {}
                        img {
                            width: 100%;
                            height: 100%;
                            @include respond(des) {
                                height: 50%;
                            }
                        }
                    }
                    &-title {
                        width: 70%;
                        float: left;
                        height: 9%;
                        font-size: 15px;
                        @include respond(des) {
                            font-size: 14px;
                        }
                        @include respond(phone) {
                            height: 5%;
                        }
                        h3 {
                            margin-left: 5px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                        }
                        p {
                            margin-left: 5px;
                            margin-bottom: 0px;
                            margin-top: 0px;
                            @include respond(des) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
        &-notification {
            height: 91%;
            width: 29%;
            float: left;
            margin-top: 10px;
            @include respond(tab) {
                height: 92%;
            }
            @include respond(phone) {
                width: 100%;
                height: 20%;
                padding-top: 20px;
            }
            @include respond(ss-phone) {
                height: 28%;
                padding-top: 0px;
            }
            &-new {
                padding-left: 20px;
                margin-top: 10px;
                width: 100%;
                &-title {
                    span {
                        @include span;
                    }
                    a {
                        @include a;
                    }
                }
                svg {
                    width: 20px;
                }
                marquee {
                    width: 80%;
                    cursor: pointer;
                }
            }
        }
    }
    &__investment {
        width: 100%;
        min-height: 440px;
        @include respond(des) {
            min-height: 450px;
        }
        @include respond(tab) {
            min-height: 900px;
        }
        @include respond(small-tab) {
            min-height: 1100px;
        }
        @include respond(phone) {
            height: 2732px;
        }
        .pd-section {
            @include pd-section;
            @include respond(phone) {
                padding-right: 19px;
                padding-left: 20px;
                height: 100%;
            }
        }
        &-block {
            float: left;
            padding-top: 10px;
            width: 25%;
            @include respond(tab) {
                width: 50%;
                float: left;
            }
            @include respond(phone) {
                width: 100%;
                float: left;
                height: 25%;
            }
            &-title {
                span {
                    @include span;
                }
                a {
                    @include a;
                    @include respond(des) {
                        font-size: $title;
                    }
                }
            }
            &-mains {
                &-main {
                    img {
                        width: 95%;
                        padding-top: 10px;
                        @include respond(phone) {
                            width: 100%;
                        }
                    }
                    img:hover {
                        @include hover;
                    }
                    p {
                        width: 95%;
                    }
                }
                &-sub {
                    img {
                        width: 30%;
                        float: left;
                    }
                    p {
                        float: left;
                        width: 60%;
                        margin-top: 0px;
                        padding-left: 10px;
                        @include respond(tab) {}
                        @include respond(phone) {
                            margin-top: 12px;
                            margin-bottom: 48px;
                        }
                        @include respond(ss-phone) {
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
    }
    &__utilities {
        min-height: 200px;
        @include respond(des) {
            min-height: 200px;
        }
        @include respond(tab) {
            min-height: 220px;
        }
        .pd-section {
            @include pd-section;
            @include respond(phone) {
                padding-right: 19px;
                padding-left: 20px;
            }
        }
        &-slider {
            &-left {
                width: 5%;
                float: left;
                padding-right: 10px;
                @include respond(tab) {
                    width: 7%;
                    padding-right: 20px;
                }
                @include respond(phone) {
                    width: 10%;
                }
                @include respond(ss-phone) {
                    width: 9%;
                }
                svg {
                    width: 44px;
                    color: #4a5254;
                    padding-top: 51px;
                    @include respond(ss-phone) {
                        width: 33px;
                    }
                }
            }
            &-right {
                width: 5%;
                float: left;
                padding-left: 10px;
                @include respond(tab) {
                    width: 10%;
                    padding-left: 2px;
                }
                @include respond(ss-phone) {
                    width: 9%;
                }
                svg {
                    width: 44px;
                    color: #4a5254;
                    padding-top: 51px;
                    @include respond(ss-phone) {
                        width: 33px;
                    }
                }
            }
        }
        .wrapper {
            float: left;
            max-height: 127px;
            display: flex;
            overflow-x: auto;
            margin-top: 20px;
            width: 80%;
            padding: 0px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            @include respond(tab) {
                width: 64%;
            }
            @include respond(phone) {
                width: 62%;
            }
            @include respond(ss-phone) {
                width: 58%;
            }
            .item {
                min-width: 23%;
                height: 110px;
                line-height: 110px;
                text-align: center;
                background-color: #ddd;
                border-radius: 24px;
                margin-right: 24px;
                color: $themeMenu;
                box-shadow: -3px 4px 0px 0px #a9a9a9;
                background: #f1ecec;
                @include respond(des) {
                    min-width: 200px;
                }
                @include respond(tab) {
                    min-width: 200px;
                }
                @include respond(ss-phone) {
                    min-width: 200px;
                }
                @include respond(phone) {
                    min-width: 200px;
                }
            }
            .item:hover {
                @include hover;
            }
        }
         ::-webkit-scrollbar {
            width: 0;
        }
    }
}