//Color
$themeClrPrimary: #0062b9;
$themeHeader: #ffffff;
$themeMenu: #23449c;
//With
$heightWithDesktop:97px;
$heightMenu:36px;
$heightMenuTab:80px;
$commonBorderRadius: 5px;
//@@
$l:left;
$ct:center;
$r:right;
$t:top;
$bt:bottom;
$pd-left: 47px;
$pd-right: 38px;